.back-splash {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
  min-height: 100vh;
  height: 100%;

  -webkit-transition: width 0.3s cubic-bezier(0,0,0.3,1);
  -moz-transition: width 0.3s cubic-bezier(0,0,0.3,1);
  -o-transition: width 0.3s cubic-bezier(0,0,0.3,1);
  transition: width 0.3s cubic-bezier(0,0,0.3,1);
}
