.product-page {
  height: calc(100vh - 140px);
  display: flex;
  align-items: flex-start;
  padding-top: 170px;

  .product-image {
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;

    img {
      height: 80%;
    }

    .view-menu {
      margin: 0;
      padding: 0;
      position: fixed;
      left: 0;

      li {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 10px 0px;
        font-family: Engravers Gothic;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;

        hr {
          height: 1px;
          width: 40px;
          margin-left: 0;
          margin-right: 15px;
        }

        &.active {
          hr {
            width: 100px;
          }
        }
      }
    }
  }
  .product-details {
    width: 50%;
    float: right;
    max-width: 500px;

    .product-name {
      margin: 25px 0px;
      padding: 0;
      font-family: Engravers Gothic;
      font-weight: bold;
      font-size: 48px;
      line-height: 44px;
      text-transform: uppercase;
    }

    .product-desc {
      font-family: Avenir Book;
      font-weight: normal;
      line-height: 1.55;
      font-size: 16px;
      margin: 0;
    }
  }
}


.box-label {
  display: block;
  width: fit-content;
  background-color: #a22d2d;
  padding: 2px 8px;

  .box-label-text {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: Engravers Gothic;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.product-options {
  vertical-align: middle;
  margin-top: 25px;
  margin-bottom: 40px;

  .group-label {
    font-family: Engravers Gothic;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 1px;
    position: relative;
    top: 1px;
    height: 100%;
    padding-right: 8px;
  }

  .option-label {
    font-family: Engravers Gothic;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    position: relative;
    height: 35px;
    min-width: 35px;
    padding: 3px 6px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 100px;
    margin: 0px 6px;
  }

  input[type="radio"] {
    position: fixed;
    z-index: 9999;
    width: 30px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
    margin: 0px 9px;
  }

  input[type="radio"]:hover + label {
    border-color: #474747;
  }

  input[type="radio"]:checked + label {
    border-color: #a22d2d;
    color: #a22d2d;
  }
}
