.product-image {
  height: 100%;
  width: 50%;
  max-height: 1000px;
  float: left;
  display: flex;
  justify-content: center;

  img {
    height: 90%;
    display: none;
    opacity: 0;

    &.active {
      display: block;
      opacity: 1;
    }
  }

  .view-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 10px 0px;
      font-family: Engravers Gothic;
      font-weight: normal;
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #a5a5a5;

      hr {
        height: 1px;
        width: 40px;
        margin-left: 0;
        margin-right: 15px;
        background-color: #a5a5a5;
        border: none;

        -webkit-transition: width 0.3s cubic-bezier(0,0,0.3,1);
        -moz-transition: width 0.3s cubic-bezier(0,0,0.3,1);
        -o-transition: width 0.3s cubic-bezier(0,0,0.3,1);
        transition: width 0.3s cubic-bezier(0,0,0.3,1);
      }

      &.active {
        color: #FFFFFF;

        hr {
          width: 100px;
          background-color: #FFFFFF;
        }
      }
    }
  }
}
