.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-bag-icon {
    width: 24px;
    height: 24px;
  }

  .item-count {
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: #a22d2d;
    color: white;
    font-size: 11px;
    text-align: center;
    top: 5px;
    right: 0;
  }
}
