.collection-preview {
  height: calc(100vh - 140px);
  padding-top: 75px;

  .collection-header {
    margin-left: 25%;

    .collection-title {
      font-family: Engravers Gothic;
      font-weight: bold;
      font-size: 48px;
      line-height: 44px;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 25px;
      padding-left: 60px;
    }

    .collection-season {
      display: inline-flex;
      font-family: Engravers Gothic;
      font-weight: normal;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;

      hr {
        height: 1px;
        width: 100px;
        margin-left: 0;
        margin-right: 20px;
      }
    }
  }
}

.collection-item {
  background-color: #F7F7F7;
  margin-left: 55px;

  .collection-item-image {
    width: 100%;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      cursor: pointer;
    }
  }

  .collection-item-info {
    margin: 0;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7;
    text-align: center;
    text-transform: uppercase;

    .collection-item-name {
      cursor: pointer;
      font-family: Engravers Gothic;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 1.25;
      font-size: 20px;
      margin: 0;

      &:hover {
        color: #a22d2d;
      }
    }

    .collection-item-specs {
      font-family: Avenir Book;
      font-weight: normal;
      line-height: 1.75;
      font-size: 12px;
      margin: 0;
    }
  }
}

.collection-slider.slick-slider {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px 0px;
}

.slick-list {margin: 0 -20px;}

.slick-slide > div {padding: 0 20px;}

.slick-list[data-slick-index="0"] > div {
    padding-left: 75px;
  }

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
